<template name="panelLeft">
    <div class="panel panel-left panel-cover">
        <div class="view navbar-fixed" data-page="panel-left">
            <div class="pages">
                <div data-page="panel-left" class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="center">Paramètres</div>
                        </div>
                    </div>
                    <div class="page-content">
                        <!--<div class="content-block">-->
                        <!--<p>This is a side panel/drawer. You can close it by clicking outsite or on this link:<a href="#" class="close-panel">close me</a>. You can put here anything, even another isolated view like in<a href="#" data-panel="right" class="open-panel">Right Panel</a></p>-->
                        <!--</div>-->
                        <!-- List View -->
                        <!--<div class="content-block-title">List View Accordion</div>-->
                        <!--<div class="list-block accordion-list">-->
                        <!--<ul>-->
                        <!--<li class="accordion-item">-->
                        <!--<a href="#" class="item-content item-link">-->
                            <!--&lt;!&ndash;<div class="item-inner">&ndash;&gt;-->
                            <!--<div class="item-title">Login</div>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</a>-->
                        <!--<div class="accordion-item-content">-->
                        <div class="content-block">
                            {{> atForm}}
                            {{#if currentUser}}
                                <a class="button button-big button-raised fade-in logout">
                                    <i class="material-icons md-36">exit_to_app</i>
                                </a>
                                {{#if admin}}
                                    <a class="button button-big button-raised fade-in logout">
                                        <i class="material-icons md-36">exit_to_app</i>
                                    </a>
                                    {{/if}}
                            {{/if}}

                        </div>
                        <!--</div>-->
                        <!--</li>-->
                        <!--</ul>-->
                    </div>
                    <!--<div class="content-block">-->
                    <!--<p>Long text block goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem urna, gravida non scelerisque id, fringilla ac velit. Phasellus elementum a ipsum at ornare. Mauris sagittis rhoncus euismod. Integer convallis augue eu lacus ultrices, in dictum elit consequat. Nulla faucibus massa id felis egestas eleifend. Proin consequat dignissim magna ut scelerisque. Vestibulum ac lorem semper, posuere sapien nec, pharetra massa. Nulla a tellus facilisis, sollicitudin quam porta, aliquam lorem. Fusce dignissim eros ac diam molestie, ut ultrices lorem tristique. Ut facilisis augue ac nisi egestas malesuada. Nunc posuere tortor quis eleifend mollis. Aliquam erat volutpat. Donec feugiat elit tellus, nec convallis orci elementum in. Sed urna mi, vestibulum id tempus id, pretium et ante. Pellentesque eget sollicitudin ligula. Phasellus pellentesque velit eu porta suscipit.</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</template>