<template name="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="open-panel link icon-only">
                    <i class="icon icon-bars">
                    </i>
                </a>
            </div>
            <div class="center title">
                <a href="/" class="link">CodaFôÔD</a>
            </div>
            <div class="right"><a href="#" data-panel ="right" class="open-panel link icon-only">
                <i class="material-icons">shopping_cart</i>
            </a>
            </div>

        </div>
    </div>
</template>