div .content-block.right-panel {
    padding: 0 8px;
    margin-top: 0;
}

.right-panel .card-header {
    padding: 4px 9px;
    position: fixed;
}

.pages .page .toolbar, .pages .page .toolbar-bottom{
    background: inherit;
}

.toolbar-inner .button{
    margin-left: auto;
    margin-right:auto;
    font-size: 25px;
    padding-left: 25px;
    padding-right:25px;
}

.page .toolbar{
    height: 64px;
}

.page .toolbar-bottom{
    background: transparent !important;
}

.data-table table{
    /*overflow: hidden;*/
    /*margin-top: 75px !important;*/
    /*z-index: -5 !important;*/
}

.panel-right .page-content{
    overflow: hidden;
}

.content-block .data-table{
    height: 460px;
}