<template name="panelRight">
    <div class="panel panel-right panel-cover no-shadow">
        <div class="view navbar-fixed" data-page="panel-right">
            <div class="pages">
                <div data-page="panel-right" class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="left left-title">Mon panier</div>
                            <div class="total">{{total}} €</div>

                        </div>
                    </div>
                    {{#if cartNotEmpty}}
                        <div class="toolbar toolbar-bottom">
                            <div class="toolbar-inner">
                                <a class="button button-big button-raised modify color-green add-to-cart fade-in">
                                    Commander
                                    <!--<i class="material-icons md-36 color-green">add_shopping_cart</i>-->
                                </a>
                            </div>
                        </div>
                    {{/if}}

                    <div class="page-content">
                        <div class="card-header">

                            <p class="buttons-row">
                                <a class="button button-raised left remove inc" id="-1">
                                    <i class="material-icons color-red">remove</i>
                                </a>
                                <a class="button button-raised center remove delete">
                                    <i class="material-icons color-red">delete</i>
                                </a>

                                <a class="button button-raised add right inc" id="1">
                                    <i class="material-icons color-green">add</i>
                                </a>
                            </p>
                        </div>
                        <div class="content-block right-panel">
                            <div class="data-table data-table-init">

                                <table>
                                    <thead>
                                    <tr>
                                        <th class="checkbox-cell">
                                            <label class="form-checkbox check-all">
                                                <input type="checkbox" class="check-box chk"><i></i>
                                            </label>
                                        </th>
                                        <th class="label-cell">Produit</th>
                                        <th class="numeric-cell">Quantité</th>
                                        <th class="numeric-cell">Prix</th>
                                        <th class="numeric-cell">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each cartItems}}
                                        {{> cart_list}}
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>