<template name="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="open-panel link icon-only">
                    <i class="icon icon-bars" style="font-size: 35px">
                    </i>
                </a>
            </div>
            <div class="center title">
                <a href="/" class="link">CodaFooD</a>
            </div>
            <div class="right cart">
                <a href="#" data-panel="right" class="open-panel link icon-only">
                    <i class="material-icons">shopping_cart</i>
                </a>
            </div>
            <div class="right cartCount">
                <a href="#" data-panel="right" class="open-panel link icon-only">
                    {{cartCount}}
                </a>
            </div>
        </div>
    </div>
</template>