.navbar .navbar-inner .title{
    margin: inherit;
    margin-left: auto;
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
}

.navbar i.icon.icon-bars {
    width: 28px;
    height: 28px;
    /*box-shadow: inset 2px 4px 3px rgba(0,0,0,0.35);*/
}

.navbar .navbar-inner .cartCount{
    margin: 0 16px 0 0;
    /*border-radius: 50%;*/
    /*!*border: 1px solid black;*!*/
    /*box-shadow: 0 1px 3px 1px black;*/
    /*height: 50%;*/
    width: 25px;
}
.navbar .navbar-inner .cart a{
    padding: 0 0 0 16px;
}

.navbar .navbar-inner .cartCount a{
   height: 20px;
    margin: 0;
    font-size: 20px;
    padding: inherit;
}
.navbar i.material-icons{
    font-size: 26px;
}
.view-main .navbar-inner a i {
    text-shadow: 0 -1px 0 rgba(0,0,0,.5)
}

.navbar .title, .navbar .navbar-inner{
    font-family: 'Lobster Two', 'Roboto', 'Noto', 'Helvetica', Arial, sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.added{
    /*color: #4caf50;*/
    animation: add 0.3s;
}
.removed{
    /*color: #f44336;*/
    animation: remove 0.3s;
}
@keyframes add {
    0% {color:white;}
    50% {color: #4caf50}
    100% {color: white;}
}

@keyframes remove {
    0% {color:white;}
    50% {color: #f44336}
    100% {color: white;}
}
.navbar .right i {
    color:white;
    transition: color 0.3s ease;
}