<template name="carte">
    <!--<div class="content segue-left-to-right">-->
        <div class="content-block-title"><h1>Carte de nos pizzas</h1></div>
        <div class="list-block media-list color-white">
            <ul>
                {{#each categories}}
                    <li>
                        <a href="{{pathFor route='pizzas'}}" class="item-link item-content">
                            <div class="item-media"><img src="/images/{{image}}" alt=""></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title"><h2>{{name}}</h2></div>
                                </div>
                                <!--<div class="item-subtitle">Beatles</div>-->
                                <!--<div class="item-text">Lorem ipsum dolor sit amet...</div>-->
                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>

</template>