<template name="carte">
    <!--<div class="content segue-left-to-right">-->
    <div>
        <form action="">
        <input type="text" name="text" id="" style="color: black">
        <label for="text">Input here</label>
        </form>
        {{#each try in get}}
            {{try.func}}
        {{/each}}
    </div>
        <div class="content-block-title carte-title"><h2>Notre carte</h2></div>
        <div class="list-block media-list color-white cat-list">
            <ul>
                {{#each categories}}
                    <li>
                        <a href="/cat/{{name}}" class="item-link item-content">
                            <div class="item-media"><img src="/images/{{image}}" alt=""></div>
                            <div class="item-inner">
                                <div class="item-title-rows">
                                    <div class="item-title"><h2>{{name}}</h2></div>
                                </div>
                                <!--<div class="item-subtitle">Beatles</div>-->
                                <!--<div class="item-text">Lorem ipsum dolor sit amet...</div>-->
                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>

</template>