<template name="pizzas">
    <div class="content segue-right-to-left">
        {{#each pizzas}}
            {{>pizza}}
        {{/each}}
    </div>
</template>

<template name="pizza">

    <div class="content-block-title">{{name}}</div>

    <div class="card demo-card-header-pic inset">
        <div style="background-image:url('/images/{{image}}')" valign="bottom" class="card-header color-white no-border">
        </div>
        <div class="card-content color-white">
            <div class="card-content-inner">
                <p class="color-gray">{{price}}€</p>
                <p>{{description}}</p>
            </div>
        </div>
        <div class="card-footer">
            <p class="addtocart">
                <a  class="button button-fill button-raised">Add to cart</a>
            </p>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="number" placeholder="" value="{{qty}}">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>