<template name="pizzas">
    <div class="content segue-right-to-left">
        {{#each pizz in pizzas}}
            {{>pizza pizz}}
        {{/each}}
    </div>
</template>

<template name="pizza">

    <div class="content-block-title pizza-title">{{name}}</div>

    <div class="card demo-card-header-pic inset">
        <div style="background-image:url('/images/{{image}}')" valign="bottom" class="card-header color-white no-border">
        </div>
        <div class="card-content color-white">
            <div class="card-content-inner">
                <p class="color-gray">{{price}}€</p>
                <p>{{description}}</p>
            </div>
        </div>
        <div class="card-footer">
            {{#if bought }} <p class="modifycart buttons-row">
                <a  class="button button-fill button-raised ">-</a>
            </p>
            {{/if}}
            <div class="list-block nb-added">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="number" placeholder="" value="{{qty}}">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <p class="modifycart buttons-row">
                <a  class="button button-fill button-raised">{{#unless bought }}Add to cart {{else}}+{{/unless}}</a>
            </p>



        </div>
    </div>
</template>