<template name="pizzas">
    <div class="content products segue-right-to-left">
        {{#each pizz in pizzas}}
            {{>pizza pizz}}
        {{/each}}
    </div>
</template>

<template name="pizza">

    <div class="content-block-title pizza-title">{{name}}</div>

    <div class="card demo-card-header-pic inset">
        <div style="background-image:url('/images/{{image}}'),url('/images/bg1.jpeg');background-size: contain,cover " valign="bottom" class="card-header {{categorie}} color-white no-border">
        </div>

        <div class="card-content color-white">
            <div class="card-content-inner">
                <p class="color-gray">{{price}}€</p>
                <p>{{description}}</p>
            </div>
        </div>

        <div class="card-footer">
            <p class="modifycart buttons-row">
                {{#unless bought }}
                    <a  class="button button-big button-raised add-to-cart">
                        <i class="material-icons md-36 color-green">add_shopping_cart</i>
                    </a>
                {{else}}
                    <a  class="button button-big button-raised remove">
                        <i class="material-icons md-36">remove</i>
                    </a>
                    <a  class="button button-big button-raised number">
                        <div class="list-block">
                            <div class="item-input">
                                <input type="number" placeholder="" value="{{qty}}">
                            </div>
                        </div>
                    </a>
                    <a  class="button button-big button-raised add">
                        <i class="material-icons md-36 color-green">add</i>
                    </a>
                {{/unless}}
            </p>
        </div>
    </div>
</template>