<template name="produits">
    <div class="content products segue-right-to-left">
        {{#each element in produits}}
            {{>produit element}}
        {{/each}}
    </div>
</template>

<template name="produit">
    <div class="content-block-title "><div class="pizza-title "> {{name}}</div></div>

    <div class="card demo-card-header-pic inset">
        <div style="background-image:url('/images/{{image}}'),url('/images/bg1.jpeg');background-size: contain,cover "
             valign="bottom" class="card-header {{categorie}} color-white no-border">
            <div class="round-star-label">
                {{price}}€
            </div>
        </div>

        <div class="card-content color-white">
            <div class="card-content-inner">
                <!--<p class="color-gray">{{price}}€</p>-->
                <p>{{description}}</p>
            </div>
        </div>

        <div class="card-footer">
            <p class="modifycart buttons-row">
                {{#unless bought }}
                    <a class="button button-big button-raised modify add-to-cart fade-in">
                        <i class="material-icons md-36 color-green">add_shopping_cart</i>
                    </a>
                {{else}}
                    <a class="button button-big button-raised modify remove fade-in">
                        <i class="material-icons md-36">remove</i>
                    </a>
                    <a class="button button-big button-raised number fade-in">
                        <div class="list-block">
                            <div class="item-input">
                                <input type="number" placeholder="" value="{{qty}}">
                            </div>
                        </div>
                    </a>
                    <a class="button button-big button-raised modify add fade-in">
                        <i class="material-icons md-36 color-green">add</i>
                    </a>
                {{/unless}}
            </p>
        </div>
    </div>
</template>