
.page {
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/
}
.page-content .content {
    padding-top: 66px;
    background-color: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
}
.cat-list {
    margin: 0 0 !important;
}
.item-media img {
    width: 10vh;
    height: auto;
}
.item-media {
    margin-top: auto;
    margin-bottom: auto;
}


.list-block .item-input input[type=number] {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    height: 100%;
}
.demo-card-header-pic .card-header {
    height: 40vw;
}
a div.list-block {
    height: 100%;
}
.modifycart div.list-block div.item-input {
    height: 100%;
    margin-bottom: 0;
}
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}